body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error-container {
    text-align: center;
}

h1 {
    font-size: 5em;
    margin: 0;
    color: #ff4040;
}

p {
    font-size: 1.5em;
    color: #333;
    margin: 20px 0;
}

a {
    text-decoration: none;
    background-color: #ff4040;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
}

a:hover {
    background-color: #e60000;
}
